<nav class="navbar shadow-sm  navbar-dark navbar-expand-lg bg-primary ">
<a href="" class="navbar-brand">
    <h4 class=" dysplay-5">World <span class="text-dark">Tech</span></h4>
</a>
<ul class="navbar-nav float-right ">
    <li class="nav-item "><a class="nav-link" href="/admin/categories">Categorias</a></li>
    <li class="nav-item "><a class="nav-link" href="/admin/articles">Artigos</a></li>

</ul>

</nav>